.bg-custom-red {background-color: #ab3b46 !important;}
.bg-custom-beige {background-color: #f8f4f0 !important;}
.bg-custom-dark-red {background-color: #772c36 !important;}
.bg-custom-dark-beige {background-color: #dfdbd7 !important;}

.text-custom-light-beige {color: white !important; transition: background-color 0.3s ease;}
.text-custom-light-beige:hover {color: #bab7b6 !important;}

.text-custom-light-beige-no-hover {color: white !important;}
.text-custom-dark-red-no-hover {color: #772c36 !important;}

.font-size-custom-medium {font-size: medium;}

.border-custom-light-beige {border-color: #ebe2d7 !important;}
.border-custom-light-beige:hover {border-color: #bab7b6 !important;}

.unselectable {
    user-select: none !important;
    -webkit-user-select: none !important; /* Safari/Chrome */
    -moz-user-select: none !important;    /* Firefox */
    -ms-user-select: none !important;     /* IE/Edge */
}


body {
    background-color: #ab3b46 !important;
}

li p {
    margin-bottom: 0px;
}

.imagem-carrossel {
    width: 100%;
    height: 400px;
}

h1 {
    text-align: center;
}